<!--The content below is only a placeholder and can be replaced.-->
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Title</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <common-navigation></common-navigation>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Moriarty</span>
        <common-navigation></common-navigation>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <h1>Moriarty</h1>
        </div>
    </main>
</div>

<router-outlet></router-outlet>